.title-selected-ships {
  font-size: 22px;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.ship-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.ship-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 2px solid #275037;
  color: #fff;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ship-item:hover {
  background-color: #333;
}

.ship-links {
  display: flex;
  gap: 10px;
  text-decoration: none;
}

.view-details {
  background-color: transparent;
  border: 2px solid #275037;
  color: #fff;
  padding: 12px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 20px;
  text-decoration: none;
}

.view-details:hover {
  text-decoration: none;
  background-color: #275037;
}

.remove-ship {
  background-color: transparent;
  color: #fff;
  border: 2px solid #e3001b;
  padding: 12px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  left: 20px;
  text-decoration: none;
}

.remove-ship:hover {
  text-decoration: none;
  background-color: #e3001b;
}

.ship-details {
  position: relative; /* Allow absolute positioning inside */
}

.close-details {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  background: transparent;
  border: 2px solid #cc0000;
  border-radius: 20px;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.close-details:hover {
  background-color: #cc0000;
  color: #fff;
  text-decoration: none;
}
